html
    font-size 14px
    width 100%
    height 100%
    padding 0
    margin 0
    body
        width 100%
        height 100%
        margin 0
        .show1
            width 400px
            height 300px
            touch-action none
            color grey